.workout { 
	background-color: #1c1c1f !important; 

	.titleText {
		color: white;
		font-weight: bold;
		border-bottom: 1px solid white;
		margin-bottom: 10px;
	}

	.featuredWorkoutSlideShowContainer {
		width: 100%;
		position: relative;
		margin: auto;
		height: 275px;
		overflow: hidden;
	}
}

.nav-li {
	font-family: "Segoe UI Light",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #dfe0e6;
    font-weight: 100;
	display: inline;
	margin-left: 20px;
}

.type-img {
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
}

.type-container {
	position: relative;
}

.type-text {
	position: absolute;
	color: white;
	font-size: 12px;
	top: 70%;
	left: 50%;
  	transform: translateX(-50%);
}

.buttons-fab-page {

  .fab-footer {
    z-index: 99;
	position: fixed;
    bottom: 65px;
    right: 20px;
  }
}