.workout { 
	background-color: #1c1c1f !important; 
}

.background-overlay {
    background: rgba(0,0,0,.8);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.menuContainer {
	border-bottom: white 3px solid;
	height: 50px;
}

.menuText {
    color: white;
    font-size: 12px;
    line-height: 50px;
    width: 77px;
    height: 50px;
    display: inline-block;
	text-align: center;
}

.menuSelected {
	border-bottom: lime 3px solid;
	padding-bottom: 13px;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: lime;
}

.background-imgs-container .background-imgs {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
	width: 100%;
	height: 50%;
	max-width: 1280px;
}

.nowplaying-container {
	position: relative; 
	width: 100%;
	height: 15vh;
}

.background-imgs-container {
	position: absolute; 
	width: 100%;
	height: 75%;
	top: 0; 
	left: 0;
    overflow: hidden;
}

.header-container {
	position: absolute; 
	left:0; 
	width:100%;
	height: 100%;
}

.cover-small-container {
	float:left; 
	position: relative; 
	overflow: hidden;
	margin: 0;
	padding-left:24px; 
}

.cover-small-container .cover-small {
	height: 69px;
    width: 69px;
}

.header-text-container {
	margin-top: 15px;
	position: relative; 
	padding-left: 20px; 
	color: #88898c; 
	overflow: hidden; 
	white-space: nowrap;
}

.header-text-container .header-text {
	font-family: "Segoe UI Light",Helvetica,Arial,sans-serif;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	vertical-align: text-bottom;
}

.covers-container {
	margin: 0 auto;
    padding: 0;
	margin-top: 10px;
    position: relative;
    max-width: 320px;
    max-height: 320px;
    width: 60%;
    height: 42%;
}

.covers-container .covers {
	position: relative;
    width: 100%;
}

.navigation-container {
	border-bottom: 1px solid #222326;
}


.navigation-container .naviagation-list{
	list-style:none;
    padding-left: 0;
    margin-top: 20px;
}

.nav-li {
	font-family: "Segoe UI Light",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #dfe0e6;
    font-weight: 100;
	display: inline;
	margin-left: 20px;
}

.type-img {
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
}

.type-container {
	position: relative;
}

.type-text {
	position: absolute;
	color: white;
	font-size: 12px;
	top: 70%;
	left: 50%;
  	transform: translateX(-50%);
}


.buttons-fab-page {

  .fab-footer {
    z-index: 99;
	position: fixed;
    bottom: 65px;
    right: 20px;
  }
}
