<ion-navbar *navbar dark>
  <button menuToggle>
    <ion-icon name='menu'></ion-icon>
  </button>
  <ion-title>
    Guided workout detail
  </ion-title>
</ion-navbar>

<ion-content class="workouts" style="">
  <!--<ion-card *ngFor="let workout of workoutPlans">
    <img (click)="goToDetail(workout)" [src]="workout.image" />
    <div class="card-title">{{workout.name}}</div>
  </ion-card>-->


  <ion-grid>
    <ion-row wrap>
      <ion-col width-50 *ngFor="let workout of workoutPlans">
        <img (click)="goToDetail(workout)" 
        class="workout-img" 
        [src]="workout.image">
        <div class="text">{{workout.name}}</div>
        <div class="text">{{workout.publishdate}}</div>
        <div class="text">{{workout.kdisplaysubtype}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>