

.workouts {
  background-color: #303030 !important;

  .image {
    height: 130px;
  }

  .text {
    font-size: 14px;
    background-color: #424242;
    color: #ddd;
  }

  .title {
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    padding-bottom: 10px;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #bbb;
    font-size: 10px;
  }

  .followers {
    padding-top: 15px;
    color: #bbb;
  }
}

// multi line ellipsis for IE, not used for now.
/* styles for '...' */ 
.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
  width: 100%;
}

/* create the ... */
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
